/* navigation buttons */
button {
  background-color: #5B5EA6;
  padding: 10px;
}

button a {
  text-decoration: none;
  font: 18px Monaco, MonoSpace;
  color: white;
}

.header {
  background-color: black;
  margin-top: 10px;
  padding: 10px;
  color: white;
  font: 22px Monaco, MonoSpace;
  text-align: center;
}

/* navigation links on page*/
nav {
  text-align: center;
}

ul li {
    display: inline;
}

li a {
  text-decoration: none;
  font: 14px Monaco, MonoSpace;
}

h2 {
  font:20px Monaco, MonoSpace;
  font-weight: bold;
}

p {
  font:14px Monaco, MonoSpace;
}

/* Newton's First Law section */
#N1 {
  background-color: #39CCCC;
  padding: 1em;
  margin-bottom: 20px;
  text-align: center;
}

/* Newton's Second Law section */
#N2 {
  background-color: #71EE68;
  padding: 1em;
  margin-bottom: 20px;
  text-align: center;
}

/* Newton's Third Law section */
#N3 {
  background-color: #FFC300;
  padding: 1em;
  margin-bottom: 20px;
  text-align: center;
}
