body {
  background-color: black;
  font: 22px Monaco, MonoSpace;
}

.header {
  height: 100px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  font: 22px Monaco, MonoSpace;
  color: white;
}

.footer {
  height: 100px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  font: 22px Monaco, MonoSpace;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
